<mat-card>
    <mat-card-title>Owners list</mat-card-title>
    <mat-card-content>
      <mat-list>
         <mat-list-item *ngFor="let owner of owners">
         <h1 mat-line>
            <a mat-button [routerLink]="['/owner-edit', owner.dni]">{{owner.name}}</a>
          </h1>
          <h5 mat-line>
            Nro.Doc: {{owner.dni}}
          </h5>
          <h5 mat-line>
            Profesión: {{owner.profession}}
          </h5>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <button mat-fab color="primary" [routerLink]="['/add-owner']">Add</button>
  </mat-card>